
.footer {

  .top-row {
    padding-bottom: 19vh;
    max-width: 1330px;
    margin: 0 auto;
    width: 100%;
    color: #ababab;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .disclaimer {
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 90px 10px;
    width: 100%;
    z-index: 1000;
    background-image: linear-gradient(to right, #c5f7ff, #ffffff 10%, #ffffff 90%, #c5f7ff);
  }

  .footer__text-img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 12vh;
  }

  .social-list {

    &__item {
      display: inline-block;
      margin-right: 70px;

      .icon {
        font-size: 40px;
        line-height: .8;
        vertical-align: middle;
        color: inherit;
      }
    }

    &__link {
      display: block;
      transition: .35s;

      &:hover,
      &:focus {
        color: #28a1de;
      }
    }

    &__item:last-child {
      margin-right: 0;

      .icon {
        font-size: 50px;
      }
    }
  }

  .link-contact {
    display: block;
    transition: .35s;

    &:hover,
    &:focus {
      color: #28a1de;
    }
  }

  .footer-logo {
    display: inline-block;
    max-width: 40px;
  }
}

@include respond-to($md) {
  .footer {
    .footer-logo {
      max-width: 25px;
    }

    .link-contact {
      font-size: 18px;
    }

    .social-list__item .icon {
      font-size: 25px;
    }

    .social-list__item:last-child .icon {
      font-size: 35px;
    }

    .social-list__item {
      margin-right: 35px;
    }

    .top-row {
      padding-bottom: 15vh;
    }
    .disclaimer {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

@include respond-to($sm) {
  .footer{
    .top-row{
      padding-bottom: 17vh;
    }
    .social-list__item .icon {
      font-size: 20px;
    }

    .social-list__item:last-child .icon {
      font-size: 30px;
    }

    .social-list__item {
      margin-right: 20px;
    }
  }

}

@include respond-to($xs) {
  .footer{
    .top-row{
      display: none;
    }
  }
}

@include respond-to($xs) {
  .footer{
    .disclaimer{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  }