.container {
  max-width: 1840px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}


@include respond-to($screen-lg) {
  .container {
    max-width: 1440px;
  }
}

@include respond-to($screen-md) {
  .container {
    max-width: 1240px;
  }
}

@include respond-to($lg) {
  .container {
    max-width: 1100px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


@include respond-to($md) {
  .container {
    max-width: 920px;
  }
}

@include respond-to($sm) {
  .container {
    max-width: 740px;
  }
}

@include respond-to($xs) {
  .container {
    max-width: 540px;
  }
}

