.container {
  max-width: 1840px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}


@include respond-to($screen-lg) {
  .container {
    max-width: 1440px;
  }
}

@include respond-to($screen-md) {
  .container {
    max-width: 1240px;
  }
}

@include respond-to($sm) {
  .container {

  }
}

