.section-question {
  position: relative;
  display: flex;
  margin-bottom: 100px;

  &:before {
    content: '';
    position: absolute;
    left: 5%;
    top: 0;
    z-index: 1;
    width: 20%;
    height: 100%;
    background: url("../assets/img/eye-bg1.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }

  .right-content {
    width: 70.5%;
    margin-left: auto;
  }

  .question-list,
  .block-icon,
  .heading {
    display: flex;
  }

  .bg-icon {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: inherit;
    background-size: inherit;
    min-height: 80px;
    padding-top: 16px;
    max-width: 20%;
    margin: 0 auto;
  }

  .heading {
    padding-left: 68px;
    align-items: baseline;
  }

  .icons-block {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    align-items: center;
    max-width: 900px;
    padding-right: 3%;
    justify-content: space-between;
    padding-left: 5%;

    &__item {
      margin: 0 5%;
      filter: grayscale(100%);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .question-list {
    position: relative;
    flex-wrap: wrap;
    padding: 50px 0 55px 10px;
    border-radius: 50px 0 0 50px;
    border-right: 0;
    max-width: 1180px;
    box-shadow: 0 0 42px rgba(40, 161, 222, 0.2);

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100vw;
      bottom: 0;
      left: 0;
      z-index: 1;
      margin: -1px;
      border-radius: inherit;
      background: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213));
    }

    &:after {
      background-clip: padding-box;
      border: 2px solid transparent;
      background-image: linear-gradient(to right, #ffffff 85%, #c5f7ff);
    }

    &__item {
      padding: 0 6.5% 40px;
    }

    .bg-icon {
      display: none;
    }
  }

  .question {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #000000;
    margin-bottom: 16px;
  }

  .answer {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.18;
    color: #28a1de;
  }

  .swiper-wrapper {
    position: relative;
    flex-wrap: wrap;
    z-index: 2;
  }

  .swiper-container-initialized {
    .swiper-wrapper {
      flex-wrap: nowrap;
      height: auto;
    }
  }

  .swiper-slide {
    width: 50%;
  }
}


@include respond-to($md) {
  .section-question {
    padding-top: 40px;
    &:before {
      display: none;
    }

    .right-content {
      width: 100%;
      max-width: 920px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 20px;
    }

    .question-list {
      box-shadow: none;
      &:after,
      &:before {
        display: none;
      }
    }
  }
}

@include respond-to($sm) {
  .section-question {
    text-align: center;
    .question-list-wrap {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -50vw;
        right: -50vw;
        background-color: #fff;
        display: block;
        box-shadow: 0 0 42px rgba(40, 161, 222, 0.2);
        z-index: 1;
      }
    }
    .question-list {
      position: relative;
      padding: 20px 0;
      border-radius: 0;
      &:after,
      &:before {
        display: none;
      }

      &__item {
        padding-bottom: 0;
      }

      .bg-icon {
        display: block;
      }
    }
    .icons-block{
      display: none;
    }
    .swiper-wrapper{
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .swiper-button-next{
      right: -30px;
      margin-right: 15px;
    }

    .swiper-button-prev{
      left: -30px;
      margin-left: 15px;
    }
    .heading{
      padding-left: 0;
    }
    .section__title{
      margin: 0 auto 30px;
    }
    .question{
      font-size: 17px;
    }
    .answer{
      font-weight: 400;
      line-height: 1.17;
    }
  }
}

@include respond-to($xs) {
  .section-question {
    .right-content{
      max-width: 340px;
      padding-left: 26px;
      padding-right: 25px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include respond-to($xxs) {
  .section-question {
    .bg-icon{
      min-height: 60px;
      padding-top: 0;
    }
  }
}