.section-about {
  .container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .advantages {
    position: relative;
    overflow: visible;

    &.swiper-container-initialized {
      overflow: hidden;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-300px, -50%);
      height: 3px;
      width: 100vw;
      background-color: #36f1ff;
      z-index: 1;
    }

    .swiper-wrapper {
      position: relative;
      z-index: 2;
    }
  }

  .content-block {
    position: relative;
    width: 50%;
    padding-left: 45px;
  }

  .block-preserve {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: -100%;
    text-align: center;
    max-width: 660px;

    &__img {
      max-width: 100%;
      width: auto;
      position: relative;
      z-index: 5;
    }

    p {
      line-height: 1.17;
    }
  }

  .advantages-card {
    box-shadow: 0 0 10px rgba(40, 161, 222, 0.1);
    border-radius: 20px;
    color: #5a5a5a;
    border: 4px solid #ffffff;
    background-color: #fbfbfb;
    padding: 20px 15px 40px;
    text-align: center;
  }

  .advantages-card__title {
    font-size: 30px;
    font-weight: 600;
    color: #28a1de;
    margin-bottom: 15px;
  }

  .advantages-card__wrap-icon {
    width: 100%;
    min-height: 86px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 86px;
    background-size: 86px;
    margin-bottom: 35px;
  }

  .swiper-wrapper {
    padding: 5px;
    width: 95%;
    justify-content: space-between;
  }

  .swiper-slide {
    width: 30%;
    height: auto;
  }
}

@include respond-to($screen-lg) {
  .section-about {
    .advantages-card__title {
      font-size: 24px;
    }
  }
}

@include respond-to($screen-md) {
  .section-about {
    .advantages-card__title {
      font-size: 20px;
    }

    .advantages-card__wrap-icon {
      min-height: 78px;
      -webkit-background-size: 68px;
      background-size: 68px;
    }
  }
}

@include respond-to($md) {
  .section-about {
    .content-block {
      width: 100%;
      padding-left: 0;
    }

    .swiper-slide {
      width: 25%;
    }

    .advantages-card__title {
      font-size: 25px;
    }

    .advantages:before {
      transform: translate(-150px, -50%);
    }

    .advantages-card__wrap-icon {
      -webkit-background-size: 75px;
      background-size: 75px;
    }

    .block-preserve {
      position: static;
      height: auto;
      margin-bottom: 30px;
    }
  }
}

@include respond-to($sm) {
  .section-about {
    .advantages:before {
      display: none;
    }

    .bg-slider-advantages {
      background-image: linear-gradient(to right bottom, #00e0ff, #009dff);
      margin-left: -20px;
      margin-right: -20px;
      padding: 30px 20%;
    }

    .swiper-wrapper {
      justify-content: flex-start;
      width: 100%;
      padding: 0;
    }
  }
}

@include respond-to($xxs) {
  .section-about {
    text-align: center;
    .section__sub-title {
      margin-bottom: 20px;
    }
    .block-preserve{
      margin-bottom: 24px;
    }
    .block-preserve p{
      font-size: 13px;
      color: #9d9d9c;
    }
    .wrap-img {
      margin-bottom: 5px;
    }
    .advantages-card{
      padding-bottom: 0;
    }
    .advantages-card__title{
      font-size: 20px;
      margin-bottom: 10px;
    }
    .advantages-card__wrap-icon{
      margin-bottom: 24px;
    }
    .advantages-card__body p{
      font-size: 16px;
      line-height: 0.9;
    }
  }
}