.section-indication {
  .container {
    position: relative;
  }

  .content-block {
    position: relative;
    width: 50%;
    padding-right: 10%;

    &:after {
      position: absolute;
      content: '';
      display: block;
      background-image: url(../assets/img/arrow.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      -webkit-background-size: contain;
      background-size: contain;
      width: 92px;
      min-height: 250px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .block-bg {
    position: absolute;
    width: 100%;
    top: -5%;
    bottom: 0;
    left: 100%;
    overflow: hidden;
    z-index: 5;

    .img {
      position: relative;
      display: block;
      transform: translate(15%);
    }
  }

  .title {
    font-size: 35px;
    font-weight: 600;
    color: #9e9e9e;
    margin-bottom: 10px;
  }

  .indications {
    max-width: 565px;
  }

  .how-apply {
    counter-reset: list 0;
  }

  .how-apply-card:before {
    counter-increment: list;
    content: counter(list) " ";
    position: absolute;
    right: 17px;
    color: $white;
    opacity: .3;
    font-size: 40px;
    font-weight: 300;
  }

  .how-apply {
    display: flex;
    justify-content: space-between;

    &-card {
      position: relative;
      background-image: linear-gradient(to right bottom, #00e2ff, #009aff);
      box-shadow: 0 0 15px rgba(40, 161, 222, 0.2);
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      max-width: 166px;
      border: 3px solid #ffffff;
      color: #ffffff;
      padding: 10px 5px 10px 12px;
      flex-grow: 1;
      font-size: 14px;
      line-height: 1;
      width: 100%;
      font-weight: 500;
      flex-shrink: 0;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      &__wrap-icon {
        position: relative;
        min-height: 100px;
        background-position: 12px;
        -webkit-background-size: 60%;
        background-size: 60%;
        background-repeat: no-repeat;
        margin-bottom: 25px;
        z-index: 1;

        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 57px;
          height: 60px;
          background-color: transparent;
          border: 1px solid $white;
          border-radius: 10px;
          left: 0;
          bottom: 0;
          opacity: .5;
          z-index: 0;
        }
      }
    }
  }
}

@include respond-to($screen-lg) {
  .section-indication {
    .content-block {
      &:after {
        width: 65px;
        height: 190px;
        top: 40%;
      }
    }
  }
}

@include respond-to($screen-md) {
  .section-indication {
    .title {
      font-size: 2.1rem;
    }
  }
}

@include respond-to($lg) {
  .section-indication {
    .title {
      font-size: 30px;
    }
  }
}

@include respond-to($md) {
  .section-indication {
    .title {
      text-align: center;
    }
    .block-bg {
      width: 100%;
      position: static;
      height: auto;
    }

    .content-block {
      width: 100%;
      padding-right: 0;

      &:after {
        display: none;
      }
    }

    .block-bg .img {
      transform: translate(0%);
    }
  }
}

@include respond-to($sm) {
  .section-indication {
    .indications__item {
      padding-bottom: 15px;

      &:after {
        position: absolute;
        content: '';
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        width: 100%;
        background-image: linear-gradient(45deg, #d6ebee, #eeeeee, #9c9b9d, #eeeeee, #d6ebee);
      }
    }

    .indications__item:last-child:after {
      display: none;
    }
  }
}

@include respond-to($xs) {
  .section-indication {
    .how-apply {
      justify-content: center;
      flex-wrap: wrap;
    }

    .how-apply-card {
      margin-left: 7px;
      margin-right: 7px;
      margin-bottom: 14px;
    }

    .how-apply-card:last-child {
      margin-right: 7px;
    }
  }
}

@include respond-to($xxs) {
  .section-indication {
    padding-bottom: 18px;
    .section__sub-title {
      margin-bottom: 40px;
    }
    .how-apply-card{
      width: 45%;
      min-width: 140px;
    }
    .how-apply-card__wrap-icon:before {
      width: 53px;
      height: 53px;
    }
    .how-apply-card__wrap-icon {
      min-height: 78px;
      margin-top: 10px;
      margin-left: 10px;
      -webkit-background-size: 54%;
      background-size: 54%;
      background-position: 17px;
    }
  }
}
