.section-gymnastic {
  text-align: center;

  .section__title {
    position: relative;
    max-width: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .corner {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        display: block;
        height: 900px;
        width: 100px;
        bottom: 0;
        right: -150px;
        border-bottom: 2px solid #b7f9ff;
        border-right: 2px solid #b7f9ff;
        z-index: 1;
      }
    }
  }

  .section__sub-title {
    color: #8b8b8b;
    font-size: 17px;
    line-height: 1.38;
    max-width: 680px;
    margin: 0 auto 70px;
  }

  .swiper-wrapper {
    text-align: left;
    counter-reset: list 0;
  }

  .gymnastic-card:before {
    counter-increment: list;
    content: counter(list) " ";
    color: #ffffff;
    font-size: 37px;
    font-weight: 300;
    opacity: .8;
    top: 15px;
    left: -1px;
    line-height: 1;
    position: absolute;
    font-family: "Muread Pro", sans-serif;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    letter-spacing: -7px;
  }

  .wrap-gymnastic-list {
    position: relative;
    padding-bottom: 28px;

    &:after,
    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 100vw;
      height: 3px;
      background-image: linear-gradient(to right, #00e2ff, #009aff);
    }

    &:after {
      bottom: 0;
    }

  }

  .gymnastic-card {
    display: flex;
    margin-top: 50px;
    padding-bottom: 34px;
    font-size: 17px;
    font-weight: 400;
    line-height: 0.95;
    color: #28a1de;

    .left-column {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      min-height: 205px;
      min-width: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 5px;
      padding-right: 5px;
      background-image: linear-gradient(to bottom, #00e2ff, #009aff);

      img {
        width: 14px;
        display: block;
      }
    }

  }

  .gymnastic-card__wrap-img {
    height: auto;
    max-width: 100%;
    margin-bottom: 25px;
  }

  .gymnastic-card__content {
    padding-left: 23px;
    padding-right: 30px;
  }

  .link-upload {
    font-size: 17px;
    font-weight: 500;
    line-height: 15.25px;
    color: #9d9d9c;
    display: inline-block;
    margin: -36px auto 0;


    .wrap-img {
      position: relative;
      z-index: 2;
      margin: 0 auto 16px;
      display: block;
      width: 73px;
      height: 73px;
      padding: 18px;
      border: 2px solid #00adff;
      border-radius: 50%;
      background-color: $white;
      box-shadow: 0 0 0 13px $white;
    }
  }


  .swiper-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .swiper-container-initialized {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .gymnastic .swiper-slide {
    width: 20%;
    height: auto;
  }
}

@include respond-to($screen-lg) {
  .section-gymnastic {
    .gymnastic-card {
      font-size: 1rem;
    }
  }
}

@include respond-to($lg) {
  .section-gymnastic {
    .gymnastic {
      .swiper-slide {
        width: 25%;
      }
    }
  }
}

@include respond-to($md) {
  .section-gymnastic {
    .section__title .corner:after {
      display: none;
    }
  }
}

@include respond-to($sm) {
  .section-gymnastic {

    .swiper-wrapper {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
}

@include respond-to($xs) {
  .section-gymnastic {
    .wrap-gymnastic-list .container {
      position: relative;
      max-width: 340px;
      padding-left: 26px;
      padding-right: 25px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include respond-to($xxs) {
  .section-gymnastic {
    .link-upload{}
    font-size: 15px;
    .link-upload .wrap-img {
      width: 65px;
      height: 65px;
      padding: 14px;
      margin-bottom: 8px;
    }

  }
}