.section-banner {
  padding-top: 125px;

  .top-content {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 15px;
  }

  .banner-part {
    position: relative;
    background-image: linear-gradient(to bottom, #00e2ff, #009aff);
    min-height: 768px;
    padding: 45px 60px;
    width: calc(33.33% - 16px);
    color: $white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;

    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
  }

  .slogan {
    font-size: 4.89rem;
    line-height: 0.55;
    margin-bottom: 65px;
    font-weight: 600;
    font-family: $secondary-font;

    span {
      font-family: $primary-font;
      font-size: 35px;
    }
  }

  .bottom-content {
    padding-top: 78px;
  }

  .part_left {
    display: none;
  }

  .part_right {
    display: flex;
    justify-content: flex-end;
  }

  .link-banner {
    display: inline-block;
    font-size: 17px;
    font-weight: 900;
    color: #28a1de;

    .wrap-icon {
      background-color: rgba(255, 255, 255, .5);
      width: 94px;
      min-height: 102px;
      border-radius: 8px;
      border: 1px solid #28a1de;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: 50%;
      background-size: 50%;
      overflow: hidden;
    }
  }
}

@include respond-to($screen-lg) {
  .section-banner {
    .banner-part {
      min-height: 660px;
    }

    .slogan {
      font-size: 3.75rem;
      line-height: .7;
      margin-bottom: 50px;

      span {
        font-size: 30px;
      }
    }

    .btn_banner {
      font-size: 30px;
    }
  }
}

@include respond-to($lg) {
  .section-banner {
    .banner-part {
      padding: 40px;
      min-height: 525px;
    }

    .btn_banner {
      font-size: 24px;
    }
  }
}

@include respond-to($md) {
  .section-banner {
    .bottom-content {
      padding-top: 40px;
    }

    .banner-part {
      width: calc(50% - 15px);

      &:last-child {
        display: none;
      }
    }

    .link-banner .wrap-icon {
      width: 80px;
      min-height: 88px;
    }
  }
}

@include respond-to($sm) {
  .section-banner {
    .slogan span {
      font-size: 24px;
    }

    .link-banner .wrap-icon {
      width: 50px;
      height: 50px;
      min-height: 0;
      margin-right: 10px;
    }
  }
}

@include respond-to($xs) {
  .section-banner {
    padding-top: 90px;

    .top-content {
      position: relative;
      border-radius: 15px 15px 0 0;
    }

    .btn_banner {
      display: none;
    }

    .bottom-content {
      padding-top: 0;
      border-radius: 0 0 15px 15px;
      display: flex;
      overflow: hidden;

      .wrap-icon {
        width: 25px;
        height: 25px;
        min-height: 0;
        margin-right: 10px;
      }

      .link-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: Raleway, sans-serif;
        font-size: 24px;
        background-color: #31a9e5;
        padding: 12px 10px;
        font-weight: normal;
        color: #fff;
      }

      .part_left {
        border-right: 1px solid #fff;
      }

      .part_left,
      .part_right {
        display: block;
        width: 50%;
      }
    }

    .banner-part {
      width: 100%;
      justify-content: center;
      min-height: 600px;

      &:first-child {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: none !important;
        z-index: 1;
      }
    }

    .slogan {
      margin-bottom: 0;
    }
  }
}

@include respond-to($xxs) {
  .section-banner {
    .bottom-content .link-banner {
      font-size: 20px;
      padding-top: 13px;
      padding-bottom: 13px;
    }

    .banner-part {
      padding-left: 25px;
      padding-right: 25px;
    }

    .slogan {
      font-size: 3.35rem;
    }

    .slogan span {
      font-size: 25px;
    }
  }
}
