.section-indication {
  .container {
    position: relative;
  }

  .content-block {
    position: relative;
    width: 50%;
    padding-right: 10%;
  }

  .block-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 100%;
    background-color: #000;
  }

  .title {
    font-size: 35px;
    font-weight: 600;
    color: #9e9e9e;
    margin-bottom: 10px;
  }

  .indications {
    max-width: 565px;
  }

  .how-apply { counter-reset: list 0; }
  .how-apply-card:before {
    counter-increment: list;
    content: counter(list) " ";
    position: absolute;
    right: 17px;
    color: $white;
    opacity: .3;
    font-size: 40px;
    font-weight: 300;
  }
  .how-apply {
    display: flex;
    justify-content: space-between;

    &-card {
      position: relative;
      background-image: linear-gradient(to right bottom, #00e2ff, #009aff);
      box-shadow: 0 0 15px rgba(40, 161, 222, 0.2);
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      max-width: 166px;
      border: 3px solid $white;
      color: $white;
      padding: 10px 5px 10px 12px;
      font-size: 14px;
      line-height: 1;
      font-weight: 500;

      &__wrap-icon {
        position: relative;
        min-height: 100px;
        background-position: 12px;
        -webkit-background-size: 60%;
        background-size: 60%;
        background-repeat: no-repeat;
        margin-bottom: 25px;
        z-index: 1;
        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 57px;
          height: 60px;
          background-color: transparent;
          border: 1px solid $white;
          border-radius: 10px;
          left: 0;
          bottom: 0;
          opacity: .5;
          z-index: 0;
        }
      }
    }
  }
}