.section-about {
  .container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .advantages {
    position: relative;
    overflow: visible;

    &.swiper-container-initialized {
      overflow: hidden;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-300px, -50%);
      height: 3px;
      width: 100vw;
      background-color: #36f1ff;
      z-index: 1;
    }

    .swiper-wrapper {
      position: relative;
      z-index: 2;
    }
  }

  .content-block {
    position: relative;
    width: 50%;
    padding-left: 45px;
  }

  .block-preserve {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: -100%;
    text-align: center;
    max-width: 660px;

    &__img {
      max-width: 100%;
      width: auto;
      position: relative;
      z-index: 5;
    }

    p {
      line-height: 1.17;
    }
  }

  .advantages-card {
    box-shadow: 0 0 10px rgba(40, 161, 222, 0.1);
    border-radius: 20px;
    color: #5a5a5a;
    border: 4px solid #ffffff;
    background-color: #fbfbfb;
    padding: 20px 15px 40px;
    text-align: center;
  }

  .advantages-card__title {
    font-size: 30px;
    font-weight: 600;
    color: #28a1de;
    margin-bottom: 15px;
  }

  .advantages-card__wrap-icon {
    width: 100%;
    height: 86px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: auto 98%;
    background-size: auto 98%;
    margin-bottom: 35px;
  }

  .swiper-wrapper {
    padding: 5px;
    width: 95%;
    justify-content: space-between;
  }

  .swiper-slide {
    width: 30%;
    height: auto;
  }
}

@include respond-to($screen-lg) {
  .section-about {
    .advantages-card__title {
      font-size: 24px;
    }
  }
}

@include respond-to($screen-md) {
  .section-about {
    .advantages-card__title {
      font-size: 20px;
    }

    .advantages-card__wrap-icon {
      height: 73px;
    }
  }
}

@include respond-to($md) {
  .section-about {
    .content-block {
      width: 100%;
      padding-left: 0;
    }

    .swiper-slide {
      width: 25%;
    }

    .advantages-card__title {
      font-size: 25px;
    }

    .advantages:before {
      transform: translate(-150px, -50%);
    }

    .advantages-card__wrap-icon {
      height: 68px;
    }

    .block-preserve {
      position: static;
      height: auto;
      margin: 0 auto 30px;
    }
  }
}

@include respond-to($sm) {
  .section-about {
    .advantages:before {
      display: none;
    }

    .swiper-button-next {
      right: -20px;
      margin-right: 15px;
    }

    .swiper-button-prev {
      left: -20px;
      margin-left: 15px;
    }

    .swiper-button-next:before,
    .swiper-button-prev:before {
      background-image: url(../assets/img/swiper-arrow-white.png);
      margin-left: 4px;
    }

       .bg-slider-advantages {
      position: relative;
      padding: 30px 25px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: -50vw;
        left: -50vw;
        display: block;
        background-image: linear-gradient(to right bottom, #00e0ff, #009dff);
        z-index: 1;
      }
    }

    .swiper-wrapper {
      justify-content: flex-start;
      width: 100%;
      padding: 0;
    }
  }
}

@include respond-to($xs) {
  .section-about {
    text-align: center;

    .bg-slider-advantages {
      max-width: 340px;
      margin-left: auto;
      margin-right: auto;
    }

    .section__sub-title {
      margin-bottom: 20px;
    }

    .swiper-container {
      max-width: 235px;
      margin-left: auto;
      margin-right: auto;
    }

    .block-preserve {
      margin-bottom: 24px;
    }

    .block-preserve p {
      font-size: 12px;
      color: #9d9d9c;
    }

    .wrap-img {
      margin-bottom: 5px;
    }

    .advantages-card__title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .advantages-card {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .advantages-card__wrap-icon {
      margin-bottom: 24px;
    }

    .advantages-card__body p {
      font-size: 16px;
      line-height: 0.9;
      margin-bottom: 0;
    }
  }
}