html,body                       { width:100%; height:100%;}
body                            { padding:0; margin:0; background: #fff; -webkit-font-smoothing: antialiased; overflow-x: hidden;}

*,
*:before,
*:after {
  padding:0;
  margin:0;
  outline:none;
  list-style:none;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
header, nav, section, article, aside, footer {
  display: block
}
select, input, textarea        {  font: inherit; color: inherit; vertical-align:middle; }
textarea                       { vertical-align:top; resize:none;}
:focus                         { outline:none; }
input[type=submit], button     { cursor:pointer; }
img, fieldset                  { border:0; max-width: 100%;}
table                          { border-collapse:collapse; border-spacing:0; }
a                              { font: inherit; color: inherit; text-decoration:none; }
a:hover                        { text-decoration:none; }