/*
* Fonts
*/
$primary-font: 'Raleway', sans-serif;
$secondary-font:'Muread Pro', sans-serif;

/*
* Colors
*/
$white: #ffffff;
$black: #000000;

/*
* Breakpoints
*/

$xs: '(max-width: 440px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 1080px)';
$lg: '(max-width: 1200px)';







