/*
* Fonts
*/
$primary-font: 'Raleway', sans-serif;
$secondary-font:'Muread Pro', sans-serif;

/*
* Colors
*/
$white: #ffffff;
$black: #000000;

/*
* Breakpoints
*/

$xxs: '(max-width: 480px)';
$xs: '(max-width: 767px)';
$sm: '(max-width: 1040px)';
$md: '(max-width: 1160px)';
$lg: '(max-width: 1280px)';
$screen-md: '(max-width: 1460px)';
$screen-lg: '(max-width: 1660px)';







